.por-que-contratarnos {
  background-color: #4cc3ff;
  padding: 4rem ;
  color: #000;
}

.por-que-contratarnos h2{
  background-color: #fffb00;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 12px;
  border: solid #292929 3px;
  padding: 1.5rem;
  text-align: left;
  height: 200px;
  font-size: 1.3rem;
}

/* Las dos cartas grandes ocupan ambas columnas */
.card-large {
  grid-column: span 2;
}

@media (max-width: 800px) {


  .card-container {
    grid-template-columns: 1fr;
  }

  .card-large {
    grid-column: span 1;
  }
  .card {
    font-size: 0.9rem;
  }

  .por-que-contratarnos{
    padding: 5%;
  }

  .por-que-contratarnos h2{
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 1.5rem;
  }

}
