
a{
    list-style: none;
    color: #000;
    text-decoration: none;
}

.init-conteiner {
    position: relative;
    width: 100%;
    height: 100vh; /* ahora ocupa toda la pantalla */
    overflow: hidden;
    user-select: none;
}

/* Imagen de fondo con opacidad */
.init-conteiner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url('/init-sky-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;  /* 🔄 cambia de fila a columna */
    opacity: 0.7;
    z-index: 0;
}

/* Contenido encima de la imagen */
.init-info {
    margin: auto;
    margin-top: 15vh;
    height: 300px;
    display: flex;
    flex-direction: column;        /* Elementos en columna */
    justify-content: center;       /* Centrado vertical */
    align-items: center;           /* Centrado horizontal */
    width: 60%;
    position: relative;
    z-index: 1;
    opacity: 1;
    color: white; /* opcional para mejor visibilidad sobre la imagen */
}

.init-contact-button{
    background-color: #F4F440;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 2vh;
    border: none;
    border-radius: 50px;
}

.init-contact-button:hover{
    background-color: #0085FE;
}

.init-titulo{
    display: flex;

}

.init-titulo h1{
    margin-left: 15px;
    font-size: 7vh;
    line-height: 1.2; 
}

#init-subtitle{
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
}

#init-codetlab-titulo{
    color: #FFFF00;
}




.init-platforms{
    position: absolute;
    bottom: 0%;    
    background-color: #0085FE;
    width: 100%;
    padding: 5%;
}

.init-platforms-conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 90%;
}
.init-platforms-conteiner img {
    height: 100px; 
    width: 100px;
}

#init-platforms-tilte{
    font-size: 2rem;
    margin-bottom: 1%;
}

.init-platforms-conteiner h3{
    font-size: 1.5rem;
}

@media (max-width : 800px){
    
    .init-titulo h1{
        font-size: 5vh;
    }

    #init-subtitle{
        font-size: 2.5vh;
        width: 100%;
    }

    .init-contact-button{
        
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 15%;
        padding-right: 15%;
        font-size: 2vh;
        border: none;
        border-radius: 50px;
    }

    #init-platforms-tilte{
        font-size: 1.5rem;
        margin-bottom: 1%;
    }

    .init-platforms-conteiner h3{
        font-size: 1rem;
    }

    .init-platforms-conteiner img{
        height: 50px; 
        width: 50px;
    }


}