<section class="init-conteiner">
    <div class="init-info">
        <div class="init-titulo">
            <h1>Somos</h1>
            <h1 id="init-codetlab-titulo">Code'tLab</h1>
        </div>
        <h3 id="init-subtitle">
            Creamos soluciones tecnologicas para todo el mundo
        </h3>
        <button class="init-contact-button">
            <a href="#contact-us">Contactanos</a>
        </button>
    </div>
    <div class="init-platforms">
        <div class="init-platforms-conteiner">
            <div>
                <img src="/web-page-svgrepo-com.svg" alt="web" >
                <h3>WEB</h3>
            </div>
            <div>
                <img src="/mobile-phone-svgrepo-com.svg" alt="mobile" >
                <h3>MOBILE</h3>
            </div>
            <div>
                <img src="/desktop-computer-svgrepo-com.svg" alt="dektop" >
                <h3>DESKTOP</h3>
            </div>
        </div>
    </div>
</section>
