<section class="init-conteiner">
    <div class="init-info">
        <div class="init-titulo">
            <h1>Somos</h1>
            <h1 id="init-codetlab-titulo">Code't Lab</h1>
        </div>
        <h3 id="init-subtitle">
            Creamos soluciones tecnologicas para todo el mundo
        </h3>
        <button class="init-contact-button">
            Contactanos
        </button>
    </div>
    <div class="init-platforms">
        <h3>Desarollamos Aplicacioens Para</h3>
        <div>
            <img src="" alt="">
            <h4>web</h4>
        </div>
        <div>
            <img src="" alt="">
            <h4>mobile</h4>
        </div>
        <div>
            <img src="" alt="">
            <h4>dektop</h4>
        </div>
    </div>
</section>
