<section>

<h1>¿Qué nos distingue?</h1>


<div>
    <img src="dev-pc.png" alt="deveplomen -pc" height="80" width="166">

    <p class="text-1">🌍 Enfoque global: Trabajamos con clientes en todo el mundo, adaptándonos a contextos culturales, técnicos y comerciales diversos.</p>

    <p class="text-2">💡 Innovación continua: Nos mantenemos a la vanguardia de las últimas tecnologías para ofrecer productos modernos y escalables.</p>

    <p class="text-3">🤝 Compromiso humano: Más que código, construimos relaciones de confianza con nuestros clientes, entendiendo sus necesidades a fondo.</p>

</div>

</section>

