<section class="distingueshs-us-sction">

  <h1>¿Qué nos distingue?</h1>

  <div class="contenedor">

    <div class="textos">
      <div class="quenosditingue-slide">
        <h4>🌍 Enfoque global</h4>
        <p class="text-1">Trabajamos con clientes en todo el mundo, adaptándonos a contextos culturales, técnicos y comerciales diversos.</p>
      </div>
      <div class="quenosditingue-slide">
        <h4>💡 Innovación continua </h4>
        <p class="text-2">Nos mantenemos a la vanguardia de las últimas tecnologías para ofrecer productos modernos y escalables.</p>
      </div>
      <div class="quenosditingue-slide-especial">
        <h4>🤝 Compromiso humano</h4>
        <p class="text-3">Más que código, construimos relaciones de confianza con nuestros clientes, entendiendo sus necesidades a fondo.</p>
      </div>
    </div>
  </div>

</section>


