section {
  background-color: #292929;
  padding: 5%;
  margin-bottom: 200px;

}

.titulo {
  color: #F4F440;
  font-size: 3rem;


  margin-bottom: 100px;
}

.contenedor-proyectos {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.proyecto {
  background-color: #386B81;
  width: 90%;
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proyecto img {
  width: 320px;
  height: 110px;
  display: block;
}
