<div class="contactus">
    <h2>Contactanos</h2>
    <div class="formulario">
        <form action="https://formsubmit.co/iraldejordan10@gmail.com" method="POST">
            <label for="name">Nombre</label>
            <input type="text" name="name" required placeholder="Nombre">
            <label for="name">Email</label>
            <input type="email" name="email" required placeholder="Email">
            <label for="name">Propuesta</label>
            <textarea name="purpose" type="text" required placeholder="Resumi tu propuesta" id="propuesta"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>